<main class="register-section">
  <div class="register-container">
    <div class="register-content">
      <section class="image-section">
        <img
          [src]="phoneImage"
          alt="phone"
          class="register-image"
          class="w-100 h-100"
        />
      </section>
      <section class="form-section">
        <h1 class="register-heading">Register</h1>
        <p class="register-subheading">Join to us</p>
        <form
          class="register-form"
          [formGroup]="signupForm"
          (ngSubmit)="signup(signupForm)"
        >
          <div class="form-group">
            <label for="name" class="form-label">Your name</label>
            <input
              formControlName="name"
              type="text"
              id="name"
              class="form-input form-control"
              placeholder="name"
            />
            @if(signupForm.get('name')?.errors!==null&&signupForm.get('name')?.touched){
            <div class="text-danger mt-3">
              @if(signupForm.get('name')?.errors?.['required']){
              <p>Name Required</p>
              }
              @if(signupForm.get('name')?.errors?.['minlength']||signupForm.get('name')?.errors?.['maxlength'])
              {
              <p>length between 2,50</p>
              }
            </div>
            }
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email Address</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="form-input form-control"
              placeholder="email"
            />
            @if(signupForm.get('email')?.errors!==null&&signupForm.get('email')?.touched){
            <div class="text-danger mt-3">
              @if(signupForm.get('email')?.errors?.['required']){
              <p>email Required</p>
              } @if(signupForm.get('email')?.errors?.['email']){
              <p>invalid email</p>
              }
            </div>
            } @if(emailError!==''){
            <div class="text-danger mt-3">
              <p>{{ emailError }}</p>
            </div>
            }
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <div class="password-input-wrapper">
              <input
                formControlName="password"
                type="password"
                id="password"
                class="form-input"
                placeholder="password"
              />
              @if(signupForm.get('password')?.errors!==null&&signupForm.get('password')?.touched){
              <div class="text-danger mt-3">
                @if(signupForm.get('password')?.errors?.['required']){
                <p>password Required</p>
                }
                @if(signupForm.get('password')?.errors?.['minlength']||signupForm.get('password')?.errors?.['maxlength'])
                {
                <p>password length 6,20</p>
                }
              </div>
              }
              <span class="password-toggle" aria-hidden="true"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="confirm-password" class="form-label"
              >Confirm Password</label
            >
            <div class="password-input-wrapper">
              <input
                formControlName="confirmPassword"
                type="password"
                id="confirm-password"
                class="form-input"
                placeholder="confirm password"
              />
              @if(signupForm.get('confirmPassword')?.errors!==null&&signupForm.get('confirmPassword')?.touched){
              <div class="text-danger mt-3">
                @if(signupForm.get('confirmPassword')?.errors?.['required']){
                <p>confirm Password Required</p>
                }
                @if(signupForm.get('confirmPassword')?.errors?.['minlength']||signupForm.get('confirmPassword')?.errors?.['maxlength'])
                {
                <p>confirm password length 6,20</p>
                }
              </div>
              } @if(passwordError!==''){
              <div class="text-danger mt-3">
                <p>{{ passwordError }}</p>
              </div>
              }
              <span class="password-toggle" aria-hidden="true"></span>
            </div>
          </div>
          <button [disabled]="signupForm.invalid" class="register-button">
            Register
          </button>
        </form>
        <p class="login-text">
          already user ? <a routerLink="/login" class="login-link">Login</a>
        </p>
      </section>
    </div>
  </div>
</main>
