<main class="forgot-password-section">
  <div class="forgot-password-container">
    <!-- Step 1: Send Mail Form (Request Password Reset) -->
    @if(!sendMailFlag) {
    <section class="form-section">
      <h1 class="forgot-password-heading">Forgot Your Password?</h1>
      <p class="forgot-password-subheading">
        Enter your email to receive a reset code.
      </p>
      <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
        <div class="form-group">
          <label for="email" class="form-label">Email Address</label>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-input form-control"
            placeholder="Enter your email"
          />
          @if(sendMailForm.get('email')?.errors !== null &&
          sendMailForm.get('email')?.touched && sendMailError === '') {
          <div class="p-0 mt-3">
            @if(sendMailForm.get('email')?.errors?.['required']) {
            <p class="text-danger">Email is required</p>
            } @if(sendMailForm.get('email')?.errors?.['email']) {
            <p class="text-danger">Invalid email format</p>
            }
          </div>
          } @if(sendMailError !== '') {
          <div class="text-danger mt-4">
            <p>{{ sendMailError }}</p>
          </div>
          }
        </div>
        <button
          [disabled]="sendMailForm.invalid"
          class="forgot-password-button"
        >
          Send Reset Link
        </button>
      </form>
    </section>
    }

    <!-- Step 2: Verify Code Form (Code Verification) -->
    @if(sendMailFlag && !verifyCodeFlag) {
    <section class="form-section">
      <h1 class="forgot-password-heading">Enter Reset Code</h1>
      <p class="forgot-password-subheading">
        Please enter the reset code sent to your email.
      </p>
      <form
        [formGroup]="verifyCodeForm"
        (ngSubmit)="verifyCode(verifyCodeForm)"
      >
        <div class="form-group">
          <label for="resetCode" class="form-label">Reset Code</label>
          <input
            formControlName="resetCode"
            type="text"
            id="resetCode"
            class="form-input form-control"
            placeholder="Enter reset code"
          />
          @if(verifyCodeForm.get('resetCode')?.errors !== null &&
          verifyCodeForm.get('resetCode')?.touched && verifyCodeError === '') {
          <div class="p-0 mt-3">
            @if(verifyCodeForm.get('resetCode')?.errors?.['required']) {
            <p class="text-danger">Reset code is required</p>
            } @if(verifyCodeForm.get('resetCode')?.errors?.['maxlength']) {
            <p class="text-danger">Invalid reset code</p>
            }
          </div>
          } @if(verifyCodeError !== '') {
          <div class="text-danger mt-3">
            <p>{{ verifyCodeError }}</p>
          </div>
          }
        </div>
        <button
          [disabled]="verifyCodeForm.invalid"
          class="forgot-password-button"
        >
          Verify Code
        </button>
      </form>
    </section>
    }

    <!-- Step 3: Reset Password Form (New Password) -->
    @if(verifyCodeFlag) {
    <section class="form-section">
      <h1 class="forgot-password-heading">Reset Your Password</h1>
      <p class="forgot-password-subheading">Enter your new password below.</p>
      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="resetPassword(resetPasswordForm)"
      >
        <div class="form-group">
          <label for="password" class="form-label">New Password</label>
          <input
            formControlName="password"
            type="password"
            id="password"
            class="form-input form-control"
            placeholder="Enter new password"
          />
          @if(resetPasswordForm.get('password')?.errors !== null &&
          resetPasswordForm.get('password')?.touched) {
          <div class="p-0 mt-3">
            @if(resetPasswordForm.get('password')?.errors?.['required']) {
            <p class="text-danger">Password is required</p>
            } @if(resetPasswordForm.get('password')?.errors?.['minlength'] ||
            resetPasswordForm.get('password')?.errors?.['maxlength']) {
            <p class="text-danger">
              Password must be between 6 and 20 characters
            </p>
            }
          </div>
          }
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            formControlName="confirmPassword"
            type="password"
            id="confirmPassword"
            class="form-input form-control"
            placeholder="Confirm new password"
          />
          @if(resetPasswordForm.get('confirmPassword')?.errors !== null &&
          resetPasswordForm.get('confirmPassword')?.touched &&
          resetPasswordError === '') {
          <div class="p-0 mt-3">
            @if(resetPasswordForm.get('confirmPassword')?.errors?.['required'])
            {
            <p class="text-danger">Confirm Password is required</p>
            }
            @if(resetPasswordForm.get('confirmPassword')?.errors?.['minlength']
            || resetPasswordForm.get('confirmPassword')?.errors?.['maxlength'])
            {
            <p class="text-danger">
              Password must be between 6 and 20 characters
            </p>
            }
          </div>
          } @if(resetPasswordError !== '') {
          <div class="text-danger mt-3">
            <p>{{ resetPasswordError }}</p>
          </div>
          }
        </div>
        <button
          [disabled]="resetPasswordForm.invalid"
          class="forgot-password-button"
        >
          Reset Password
        </button>
      </form>
    </section>
    }
  </div>
</main>
