<main class="login-section">
  <div class="login-container">
    <div class="login-content">
      <section class="image-section">
        <img
          [src]="phoneImage"
          alt="phone"
          class="login-image"
          class="w-100 h-100"
        />
      </section>
      <section class="form-section">
        <h1 class="welcome-heading">Welcome Back</h1>
        <p class="login-subheading">login to continue</p>
        <form
          class="login-form"
          [formGroup]="loginForm"
          (ngSubmit)="login(loginForm)"
        >
          <div class="form-group">
            <label for="email" class="form-label">Email Address</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="form-input form-control"
              placeholder="email"
            />
            @if(loginForm.get('email')?.errors!==null&&loginForm.get('email')?.touched){
            <div class="p-0 mt-3">
              @if(loginForm.get('email')?.errors?.['required']){
              <p class="text-danger">Email Required</p>
              } @if(loginForm.get('email')?.errors?.['email']){
              <p class="text-danger">invalid Email</p>
              }
            </div>
            } @if(invalidLogin!==''){
            <div class="text-danger mt-3">
              <p>{{ invalidLogin }}</p>
            </div>
            }
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <div class="password-input-wrapper">
              <input
                formControlName="password"
                type="password"
                id="password"
                class="form-input form-contro"
                placeholder="password"
              />
              @if(loginForm.get('password')?.errors!==null&&loginForm.get('password')?.touched){
              <div class="p-0 mt-3">
                @if(loginForm.get('password')?.errors?.['required']){
                <p class="text-danger">Password Required</p>
                }
                @if(loginForm.get('password')?.errors?.['minlength']||loginForm.get('password')?.errors?.['maxlength'])
                {
                <p class="text-danger">Password length 6,20</p>
                }
              </div>
              }
              <span class="password-toggle" aria-hidden="true"></span>
            </div>
          </div>
          <a routerLink="/forgetPassword" class="forgot-password"
            >Forget Password ?</a
          >
          <button [disabled]="loginForm.invalid" class="login-button">
            login
          </button>
        </form>
        <p class="signup-text">
          new user ? <a routerLink="/signup" class="signup-link">Sign Up</a>
        </p>
      </section>
    </div>
  </div>
</main>
